doctype html
head
  include partials/head.pug
#container
  #header
    img(src='https://cdn.autodesk.io/logo/white/stacked.png' alt='Autodesk Platform Services')
    h Digital Twin Demo
  #viewer
  #sidebar
    include partials/sidebar.pug
  include partials/footer.pug